;
; asi. TLD zone for nm24
;
$TTL    600
@       IN      SOA     admin.nm24.ee. ns.nm24.ee. (
                     2024050501         ; Serial
                            600         ; Refresh
                            600         ; Retry
                            600         ; Expire
                            600 )       ; Negative Cache TTL
;
        IN      NS      ns.nm24.ee.

1       IN      PTR     ns.nm24.ee.
2       IN      PTR     repo.nm24.ee.
3       IN      PTR     www.nm24.ee.



