all:
  children:
    pools:
      children:
        pools_root:
          hosts:
{% for nr in range(1,competitor.amount) %}
            C1-MEISTER{{ nr }}:
              pool_parent: NM24
              full_path: /NM24/C1-MEISTER{{ nr }}
              rights: meister{{ nr }}
            C2-MEISTER{{ nr }}:
              pool_parent: NM24
              full_path: /NM24/C2-MEISTER{{ nr }}
              rights: meister{{ nr }}
{% endfor %}
        pools_sub:
          hosts:
{% for nr in range(1,competitor.amount) %}
            C1-MEISTER{{ nr }}-PEAKONTOR:
              pool_parent: C1-MEISTER{{ nr }} 
              full_path: /NM24/C1-MEISTER{{ nr }}/C1-MEISTER{{ nr }}-PEAKONTOR
            C1-MEISTER{{ nr }}-HARUKONTOR:
              pool_parent: C1-MEISTER{{ nr }} 
              full_path: /NM24/C1-MEISTER{{ nr }}/C1-MEISTER{{ nr }}-HARUKONTOR
            C2-MEISTER{{ nr }}-TICKET01:
              pool_parent: C2-MEISTER{{ nr }} 
              full_path: /NM24/C2-MEISTER{{ nr }}/C2-MEISTER{{ nr }}-TICKET01
            C2-MEISTER{{ nr }}-TICKET02:
              pool_parent: C2-MEISTER{{ nr }} 
              full_path: /NM24/C2-MEISTER{{ nr }}/C2-MEISTER{{ nr }}-TICKET02
            C2-MEISTER{{ nr }}-TICKET03:
              pool_parent: C2-MEISTER{{ nr }} 
              full_path: /NM24/C2-MEISTER{{ nr }}/C2-MEISTER{{ nr }}-TICKET03
            C2-MEISTER{{ nr }}-TICKET04:
              pool_parent: C2-MEISTER{{ nr }} 
              full_path: /NM24/C2-MEISTER{{ nr }}/C2-MEISTER{{ nr }}-TICKET04
            C2-MEISTER{{ nr }}-TICKET05:
              pool_parent: C2-MEISTER{{ nr }} 
              full_path: /NM24/C2-MEISTER{{ nr }}/C2-MEISTER{{ nr }}-TICKET05
            C2-MEISTER{{ nr }}-TICKET06:
              pool_parent: C2-MEISTER{{ nr }} 
              full_path: /NM24/C2-MEISTER{{ nr }}/C2-MEISTER{{ nr }}-TICKET06
            C2-MEISTER{{ nr }}-TICKET07:
              pool_parent: C2-MEISTER{{ nr }} 
              full_path: /NM24/C2-MEISTER{{ nr }}/C2-MEISTER{{ nr }}-TICKET07
            C2-MEISTER{{ nr }}-TICKET08:
              pool_parent: C2-MEISTER{{ nr }} 
              full_path: /NM24/C2-MEISTER{{ nr }}/C2-MEISTER{{ nr }}-TICKET08
            C2-MEISTER{{ nr }}-TICKET09:
              pool_parent: C2-MEISTER{{ nr }} 
              full_path: /NM24/C2-MEISTER{{ nr }}/C2-MEISTER{{ nr }}-TICKET09
            C2-MEISTER{{ nr }}-TICKET10:
              pool_parent: C2-MEISTER{{ nr }} 
              full_path: /NM24/C2-MEISTER{{ nr }}/C2-MEISTER{{ nr }}-TICKET10

{% endfor %}